@media screen 
and (min-width: 1500px) {
    .website-width {width: 1000px;}
}



/* ---------------- HEADER --------------------- */
@media screen 
and (max-width: 600px) {
    .darkModeToggler {margin-right: 15px;}
    .burger {display: none;}
    .link {opacity: 1;}
    .linker-flex {margin-left: 20px;}
    .linkAppear {animation: none;}
    .linkDisappear {animation: none;}
    .header-container {width: 90% !important}
}
@media screen 
and (max-width: 380px) {
    .linker-flex {display: none;} 
}

/* ------------------- FOOT ------------------------ */
@media screen 
and (max-width: 1000px) {
    .foot {display: none !important;}
}

/* ---------------- CONTAINER1 --------------------- */
@media screen
and (max-height: 700px) {
    .main {height: 700px !important;}
}

@media screen 
and (min-height: 2000px) {
    .main {height: 2000px;}
}

@media screen 
and (max-width: 1200px) {
    .name {font-size: 45px;}
    .main-desc {font-size: 18px;}
}

@media screen 
and (max-width: 500px) {
    .my-name-is {font-size: 20px;}
    .name {font-size: 40px;}
    .main-desc {font-size: 18px;}
}

/* ---------------- CONTAINER2 --------------------- */
@media screen 
and (max-width: 800px) {
    .about-img {position: relative; width: 100%; margin: 20px 0 0 0;}  
    .about-description {letter-spacing: -1px; width: 100%; font-size: 20px;}  
    .about-hori-flex {align-items: center; flex-direction: column-reverse; display: flex;}
}

/* ---------------- CONTAINER3 --------------------- */