
/* ---------------- WEBSITE WIDTH --------------------- */
@media screen 
and (min-width: 1500px) {.website-width {width: 1000px;}}

@media screen 
and (max-width: 600px) {.website-width {width: 85%}}


/* ---------------- HEADER --------------------- */
@media screen 
and (max-width: 600px) {
    .darkModeToggler {margin-right: 15px;}
    .burger {display: none;}
    .link {opacity: 1;}
    .linker-flex {margin-left: 20px;}
    .linkAppear {animation: none;}
    .linkDisappear {animation: none;}
    .header-container {width: 90% !important}
}
@media screen 
and (max-width: 380px) {
    .linker-flex {display: none;} 
}

/* ------------------- FOOT ------------------------ */
@media screen 
and (max-width: 1000px) {
    .foot {display: none !important;}
}

/* ---------------- CONTAINER1 --------------------- */
@media screen
and (max-height: 700px) {
    .main {height: 700px !important;}
}

@media screen 
and (min-height: 2000px) {
    .main {height: 2000px;}
}

@media screen 
and (max-width: 1200px) {
    .name {font-size: 45px;}
    .main-desc {font-size: 18px;}
}

@media screen 
and (max-width: 500px) {
    .my-name-is {font-size: 20px;}
    .name {font-size: 40px;}
    .main-desc {font-size: 18px;}
}

/* ---------------- CONTAINER2 --------------------- */
@media screen 
and (max-width: 800px) {
    .about-img {position: relative; width: 100%; margin: 20px 0 0 0;}  
    .about-description {letter-spacing: -1px; width: 100%; font-size: 20px;}  
    .about-hori-flex {align-items: center; flex-direction: column-reverse; display: flex;}
}

/* ---------------- CONTAINER3 --------------------- */
@media screen
and (max-width: 600px) {
    .skills-separator {transition: none; width: 100%; height: 2px !important; margin: 15px 0 15px 0;}
    .skills-horizontal {flex-direction: column;}
    .skills-selection {justify-content: space-between; flex-direction: row; width: 100%;}
    .selectable-title {height: 30px;}
}

@media screen 
and (max-width: 400px) {
    .selection {font-size: 19px !important;}
    .selectable-title {height: 26px;}
}

/* ---------------- CONTAINER4 --------------------- */
@media screen 
and (max-width: 1000px) {
    .project {justify-content: center !important;}
    .project-flex {padding: 0 !important; margin: 0 !important; width: 90% !important; position: absolute; width: 100%; align-items: flex-start !important;}
    .project-desc {padding: 0 !important; text-align: justify !important; background-color: rgba(255, 255, 255, 0) !important; box-shadow: none !important;}
    .project-img {filter: brightness(12%);}
    .project-img-container {position: relative; width: 100%;}
    .project-img:hover {transform: none;}
    .project-name {color: #c1cceb !important; text-shadow: none !important;}
    .ft {color: #a5b1ce !important;}
}

@media screen 
and (min-width: 401px)
and (max-width: 500px) {
    .project-desc {font-size: 15px; margin: 5px 0 15px 0;}
    .project-name {font-size: 19px;}
    .project-link-flex {margin-top: 5px;}
}

@media screen 
and (max-width: 400px) {
    .project-desc {font-size: 13px; margin: 5px 0 10px 0;}
    .project-name {font-size: 17px;}
    .project-link-flex {margin-top: 5px;}
    .ft {font-size: 13px;}
}


@media screen
and (min-width: 1001px)
and (max-width: 1200px) {
    .project-works-title {margin-bottom: 50px;}
}
@media screen
and (min-width: 1201px) {
    .project-works-title {margin-bottom: 100px;}
}

/* ---------------- CONTAINER5 --------------------- */
@media screen
and (max-width: 800px) {
    .character-box {display: none;}
    .form {width: 100%;}
}