@font-face {
    font-family: 'Wotfard-Regular';
    src: local('Wotfard-Regular'),
        url(../assets/fonts/Wotfard-Regular.ttf)
        format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Wotfard-SemiBold';
    src: local('Wotfard-SemiBold'),
        url(../assets/fonts/Wotfard-SemiBold.ttf)
        format('truetype');
    font-weight: normal;
}

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body::-webkit-scrollbar {
    width: 3px;
    height: 15px;
    background-color: black;
  }
body::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
  }
body::-webkit-scrollbar-thumb {
    background-color: #1b71c2;
    border-radius: 10px;
  }
  