.contact {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0 100px 0;
}

.contact-flex {
    display: flex;
    flex-direction: column;
}

.contact-title-flex {
    display: flex;
    position: relative;
}

.form-flex {
    width: 100%; 
    display: flex; 
    position: relative;
    transform: translateY(0);
    transition: all .5s ease-out;
    opacity: 1;
}

.form {
    position: relative;
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    z-index: 10;
}

.loader-flex {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    opacity: 1;
}

.loader-flex2 {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
}

.loader-appear {animation: loader-appear .2s linear 1 forwards;}
.loader-disappear {animation: loader-disappear .2s linear 1 forwards;}

@keyframes loader-appear {
    0% {opacity: 0; z-index: 100;}
    100% {opacity: 1; z-index: 100;}
}

@keyframes loader-disappear {
    0% {opacity: 1; z-index: -1;}
    100% {opacity: 0; z-index: -1;}
}

.form-disappear {animation: form-disappear .2s linear 1 forwards;}
.form-appear {animation: form-appear .2s linear 1 forwards;}

@keyframes form-appear {
    0% {opacity: 0; z-index: 10}
    100% {opacity: 1; z-index: 20;}
}

@keyframes form-disappear {
    0% {opacity: 1; z-index: 10}
    100% {opacity: 0; z-index: -1;}
}

.unable-to-submit {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    font-family: "Wotfard-Regular";
    text-align: justify;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 21px;
}

.error-submit {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.error {
    font-variant: small-caps;
    font-style: italic;
}

.email {
    font-style: italic;
}

.submitted {
    font-size: 21px;
    width: 100%;
    position: absolute;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-family: 'Wotfard-Regular';
    opacity: 0;
}

.submitted > span {
    padding: 15px 10px 15px 10px;
}