html, body {overflow-x: hidden;}

.header {
    position: fixed;
    width: 100vw;
    height: 85px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.header-container {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.burger-flex {
    display: flex;
    flex-direction: row; 
    transition: all 0.5s;  
    transition-delay: 1s;
}

.header-hidden-comp {
    opacity: 0;
}

.header-show-comp {
    opacity: 1;
}

.socials-toggler-flex {
    display: flex;
    flex-direction: row;
}

.darkModeToggler {
    transition: opacity 0.5s;  
    transition-delay: 1s;
}

/*
.headerReduce {
    animation: headerReduce .3s ease-out forwards 1;
}
@keyframes headerReduce {
    from {height: 85px;}
    to {height: 60px;}
}
.headerExpand {
    animation: headerExpand .3s ease-out forwards 1;
}
@keyframes headerExpand {
    from {height: 60px;}
    to {height: 85px;}
}
*/

.burger {
    width: 35px;
    height: 22px;
    cursor: pointer;
    margin: 0 40px 0 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#small{
    transform-origin: center;
    transition: all 0.5s ease-out;
}

.heart-not-active {
    transform: scale(.05);
}

.heart-active {
    animation: heart-activate .4s ease-in forwards 1;
}

@keyframes heart-activate {
    0% {transform: scale(.05);}
    85% {transform: scale(10);}
    100% {transform: scale(9.5);}
}

.heart-already-active {
    animation: heart-already-active .4s ease-out forwards 1;
}

@keyframes heart-already-active {
    0% {transform: scale(9.5);}
    50% {transform: scale(11);}
    100% {transform: scale(9.5);}
}

.heart-stroke {
    transition: all 0.5s;
}

.initial-stroke {
    stroke-width: 2px;
    fill: white;
}

.activated-stroke {
    stroke-width: 0px;
    fill: rgb(255, 0, 0);
}




/* ------------------------ Children -------------------------- */

.arrow {
    height: 3px;
    border-radius: 1px;
}
.burger > :nth-child(odd) {
    width: 65%;
    position: absolute;
} 
.burger > :nth-child(1) {
    left: 0;
    top: 0;
    transform-origin: right;
}
.burger > :nth-child(2) {
    position: relative;
    width: 100%;
    
}
.burger > :nth-child(3) {
    bottom: 0;
    right: 0;
}

/* --------------------- Arrow Top --------------------------- */

.a1Back {
    animation: a1Back .15s ease-out forwards 1;
}
.animArrow1 {
    animation: animArrow1 .15s ease-out forwards 1;
}
@keyframes animArrow1 {
    from {
        transform: rotate(0deg);
        top: 0;
        left: 0;
    }
    to {
        transform: rotate(-45deg);
        top: calc(100% - 50% - 2px);
        left: calc(100% - 65%);
    }
}
@keyframes a1Back {
    from {
        transform: rotate(-45deg);
        top: calc(100% - 50% - 2px);
        left: calc(100% - 65%);
    }
    to {
        transform: rotate(0deg);
        top: 0;
        left: 0;
    }
}









/* ------------------ Arrow Mid - Only Scale --------------------- */

.animArrow2 {
    animation: animArrow2 .15s ease-out forwards 1;
}
@keyframes animArrow2 {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0);
    }
}
.a2Back {
    animation: a2Back .15s ease-out forwards 1;
}
@keyframes a2Back {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}


/* ------------------------ Arrow Bottom ------------------------- */

.a3Back {
    animation: a3Back .15s ease-out forwards 1;
}
.animArrow3 {
    animation: animArrow3 .15s ease-out forwards 1;
}
@keyframes animArrow3 {
    from {
        transform: rotate(0deg);
        bottom: 0;
        right: 0;
    }
    to {
        transform: rotate(45deg);
        right: -3px;
        bottom: calc(100% - 50% + 6px);
    }
}
@keyframes a3Back {
    from {
        transform: rotate(45deg);
        right: -3px;
        bottom: calc(100% - 50% + 6px);
    }
    to {
        transform: rotate(0deg);
        bottom: 0;
        right: 0;
    }
}

/* --------------------------------------------------------------- */







.linker-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: min-content;
}

.linker-flex > :nth-child(-n+2) {
    margin-right: 30px;

}

.link {
    font-family: "Wotfard-SemiBold";
    cursor: pointer;
}

.linkAppear {
    opacity: 0;
    animation: linkAppear .3s ease-in-out forwards 1;
}

@keyframes linkAppear {
    from {opacity: 0;}
    to {opacity: 1;}
}

.linkDisappear {
    animation: linkDisappear .3s ease-in-out forwards 1;
}

@keyframes linkDisappear {
    from {opacity: 1;}
    to {opacity: 0;}
}
