.header {
    position: fixed;
    width: 90%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.darkModeToggler {
    margin-right: 40px;
}

.burger-flex {
    display: flex;
    flex-direction: row;
    
}