.header {
    position: fixed;
    width: 100%;
    padding: 0 5vw 0 5vw;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.darkModeToggler {
    margin-right: 40px;
}

.burger-flex {
    display: flex;
    flex-direction: row;   
}



.headerReduce {
    animation: headerReduce .3s ease-out forwards 1;
}
@keyframes headerReduce {
    from {height: 100px;}
    to {height: 70px;}
}
.headerExpand {
    animation: headerExpand .3s ease-out forwards 1;
}
@keyframes headerExpand {
    from {height: 70px;}
    to {height: 100px;}
}