.main {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.main-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.6s;
    transition-delay: .2s;
}

.main-down {
    transform: translateY(500px);
    opacity: 0;
}

.main-up {
    transform: translateY(0px);
    opacity: 1;
}

.keeper {
    width: 100vw;
    position: absolute;
    top: 0;
    height: 1px;
}

.name {
    font-family: "Wotfard-Regular";
    font-size: 70px;
    letter-spacing: 11px;
    text-align: center;
}

.main-desc {
    font-family: "Wotfard-Regular";
    font-size: 23px;
    letter-spacing: 3px;
    text-align: justify;
    font-variant: small-caps;
    text-align: center;
}

.about-text {
    position: relative;
    transition: transform 1s ease, opacity .9s ease;
    transition-delay: 1s;
    width: 100px;
    height: 100px;
    background-color: red;
}

.button-flex {
    display: flex;
}

.textDown {
    transform: translateY(100px);
    opacity: 0;
}

.textUp {
    transform: translateY(0px);
    opacity: 1;
}

.arrow-scroll {
    height: 120px;
    width: 20px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.5s;
}

.square {
    position: absolute;
    width: 100%;
    height: 20px;
    transform: rotate(45deg);
    border-radius: 1px;
}

.square-top {animation: 2s arrow-opacity 0s ease-in-out infinite;}
.square-mid {top: 12px; animation: 2s arrow-opacity .33s ease-in-out infinite;}
.square-bottom {top: 24px; animation: 2s arrow-opacity .66s ease-in-out infinite;}

@keyframes arrow-opacity {
    0% {opacity: 0;}
    50% {opacity: 1}
    100% {opacity: 0;}
}

.visible-scroller {opacity: 1;}
.invisible-scroller {opacity: 0;}