.main {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.6s;
    transition-delay: .2s;
}

.main-down {
    transform: translateY(500px);
    opacity: 0;
}

.main-up {
    transform: translateY(0px);
    opacity: 1;
}

.keeper {
    width: 100vw;
    position: absolute;
    top: 0;
    height: 1px;
}

.name {
    font-family: "Wotfard-SemiBold";
    font-size: 70px;
    letter-spacing: 5px;
}

.main-desc {
    font-family: "Wotfard-Regular";
    padding-bottom: 50px;
    font-size: 20px;
    font-style: italic;
    letter-spacing: 3px;
    text-align: justify;
}

.about-text {
    position: relative;
    transition: transform 1s ease, opacity .9s ease;
    transition-delay: 1s;
    width: 100px;
    height: 100px;
    background-color: red;
}

.button-flex {
    display: flex;
}

.textDown {
    transform: translateY(100px);
    opacity: 0;
}

.textUp {
    transform: translateY(0px);
    opacity: 1;
}