.square {
    width: 70%;
    height: 200px;
    border: 1px solid red;
    margin-top: 100px;
    cursor: pointer;
    transition: all 0.6s;
    transform: perspective(100px);
    position: relative;
}

.toInitialState {
    transform: rotateX(0) rotateY(0) !important;
}

.appear {
    left: 15%;
}