/* -------------------- Button.js ---------------------*/

.button {
    width: 160px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.button::before {
    transition: all 0.3s ease-in-out;
    left: -160px;
    position: absolute;
    content: "";
    width: 160px;
    height: 45px;
    background-color: lightblue;
}

.button:hover::before {
    transform: translateX(160px);
}

.text-button {
    font-size: 18px;
    color: white;
    letter-spacing: 2px;
    font-variant: small-caps;
    font-family: "Wotfard-Regular";
    z-index: 10;
}


/* -------------------- Heart.js ---------------------*/

#small {
    transform-origin: center;
    transition: all 0.5s ease-out;
}

.not-activated {
    transform: scale(.05);
}

.heart-activate {
    animation: heart-activate .2s ease-in-out forwards 1;
}

@keyframes heart-activate {
    0% {transform: scale(.05); }
    85% {transform: scale(12); }
    100% {transform: scale(9.5); }
}

.heart-already-activated {
    animation: heart-already-active .3s ease-out forwards 1;
}

@keyframes heart-already-active {
    0% {transform: scale(9.5);}
    50% {transform: scale(11.5);}
    100% {transform: scale(9.5);}
}

.heart-been-activated {
    animation: heart-been-active .3s ease-out forwards 1;
}

@keyframes heart-been-active {
    0% {transform: scale(9.5);}
    50% {transform: scale(11.5);}
    100% {transform: scale(9.5);}
}

.heart-stroke {
    transition: all 0.5s;
}


.darky {
    fill: white;
}

.lighty {
    fill: black;
}

.activated-stroke {
    fill: rgb(255, 23, 23);
}

.like-indicator {
    position: absolute;
    opacity: 0;
    display: none;
    font-family: "Wotfard-SemiBold";
    cursor: pointer;
}

.like-indicator-show {
    display: unset;
    animation: like-show 4s ease-out forwards 1;
}

@keyframes like-show {
    0% {opacity: 0; display: flex;}
    10% {opacity: 1;}
    99% {display: none; transform: scale(1);}
    100% {transform: scale(0);}
}

.heart-flex {
    display: flex;
    transition: all 0.5s;  
    transition-delay: 1s;
}

/* -------------------- SectionTitle.js ---------------------*/

.section-title-flex {
    display: flex;
    align-items: center;
    width: 100%;
    z-index: 10;
}

.title-title {
    margin-bottom: 20px;
    font-size: 40px;
    font-family: "Wotfard-Regular";
    white-space: nowrap;
}

/* -------------------- Scratch.js ---------------------*/

.scratch-flex {
    overflow: hidden;
    position: absolute;
    right: -20px;
    top: 0;
    z-index: -10;
}

.scratch-middle {
    width: 50px;
    height: 50px;
    background-color: rgb(0, 217, 255);
}

.scratch-lower {
    bottom: 0;
    position: absolute;
    width: 0;
    height: 0;
}

.scratch-upper {
    position: absolute;
    width: 0;
    height: 0;
}