.about {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 200px 0 200px 0;
}

.about-flex {
    display: flex;
    flex-direction: column;
}

.about-hori-flex {
    display: flex;
    position: relative;
}

.about-description {
    margin-right: 30px;
    width: 60%;
    text-align: justify;
    font-family: "Wotfard-Regular";
} 

.about-img {
    width: 40%;
    height: auto;
    border-radius: 4px;
    height: auto;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}