.works {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px 0 150px 0;
}

.works-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project {
    width: 100%;
    display: flex;
    margin-bottom: 100px;
    position: relative;
    align-items: center;
}

.project-flex {
    width: 50%;
    display: flex;
    flex-direction: column;
    z-index: 5;
}

.project-name {
    font-family: "Wotfard-SemiBold";
    font-size: 27px;
}

.project-desc {
    margin: 25px 0 20px 0;
    font-size: 19px;
    border-radius: 10px;
    font-family: "Wotfard-Regular";
}

.project-ft-flex {
    display: flex;
    font-family: "Wotfard-SemiBold";
    font-size: 15px;
    align-items: center;
}

.project-img-container {
    width: 60%;
    position: absolute;
}

.project-img {
    transition: all .5s;
    top: 0;
    border-radius: 5px;
    z-index: 1;
    width: 100%;
    height: auto;
    border: 1px solid #0d1f34;
}
.project-img:hover {
    transform: scale(1.02);
}

.project-link-flex {
    margin-top: 15px;
}

.project-icon {
    transition: all .2s;
    stroke: grey;
    stroke-width: 2;
}
.project-icon:visited {
    stroke: rgb(41, 116, 230);
}
.project-icon:hover {
    stroke: rgb(41, 116, 230);
}